#card-container {
  align-content: center;
  min-height: 80vh;

  .card {
    background-color: #000000b0;
    border: 1px #6b6b6b solid !important;
    border-radius: 0.5rem;
    max-width: 500px;
    min-width: 350px;
    margin: 1rem;
    padding: 0.5rem;
    img {
      height: 300px;
      object-fit: fill;
    }

    .card-body {
      color: #f5f3f3;

      .like-btn {
        display: inline-block;
        min-width: 30px;
        min-height: 30px;
        margin: 0 2rem;
        background-image: url(../assets/heart-outline.svg);
        background-color: #f5f3f3;
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
      }

      .like-count {
        display: inline-block;
        min-width: 30px;
        min-height: 30px;
        background-color: #f5f3f3;
        cursor: default;
      }

      .liked {
        background-image: url(../assets/heart-filled.svg);
      }
    }
  }
}
