@import "./main.scss";
@import "./popup.scss";
@import "./loading.scss";

body {
  height: 100%;
  background:
    url("https://intl.startrek.com/themes/custom/startrekbs/images/bg_site-constrain_stars_2000x1080.jpg")
    no-repeat center center fixed;
  background-size: cover;

  .navbar-toggler-icon {
    background-image: url("https://img.icons8.com/material-outlined/24/ffffff/menu--v1.png");
  }

  .header {
    min-height: 50vh;
    background:
      url("https://www.spacex.com/static/images/crew-2/return/HP_Crew-2_Return_Website_01_Desktop.jpg")
      no-repeat center center fixed;

    h1 {
      text-transform: uppercase;
    }

    h1,
    p {
      margin: 1rem 0;
    }

    h2 {
      margin: 1.5rem 0;
    }

    .btn {
      margin-top: 3rem;
    }

    .intro {
      color: #f5f3f3;
      padding: 5rem 3rem;
      margin-bottom: 2rem;
    }
  }

  #main {
    padding-top: 3rem;
  }

  nav {
    font-size: 1.3rem;
    background-color: #000000af;

    .navbar-nav {
      li {
        padding: 0 1.5rem;

        .nav-link {
          color: #f5f3f3;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .nav-link:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        .nav-link:active {
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    border-top: #414141 0.1px solid;
    color: #f5f3f3a4;
    padding: 1rem 0;
    margin-top: 3rem;
  }

  .blur-all {
    filter: blur(4px);
  }
}
