@import "./main.scss";
@import "./popup.scss";

body {
  background-image: url("https://intl.startrek.com/themes/custom/startrekbs/images/bg_site-constrain_stars_2000x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  #main {
    height: 100vh;
    min-height: 100vh;
    position: relative;
  }

  nav {
    font-size: 1.3rem;

    .navbar-nav {
      li {
        padding: 0 1.5rem;

        .nav-link {
          color: #f5f3f3;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .nav-link:hover {
          border-radius: 0.5rem;
          background-color: #ffffff1a;
        }

        .nav-link:active {
          text-decoration: underline;
        }
      }
    }
  }

  footer {
    position: absolute;
    border-top: #414141 0.1px solid;
    bottom: 3rem;
    height: 3rem;
    color: #f5f3f3;
    padding: 1rem 0;
    width: 100%;
  }
}
