@import "./main.scss";
@import "./popup.scss";

body {
  height: 100%;
  background: url("https://intl.startrek.com/themes/custom/startrekbs/images/bg_site-constrain_stars_2000x1080.jpg")
    no-repeat center center fixed;
  background-size: cover;

  #main {
    margin-top: 3rem;
  }

  nav {
    font-size: 1.3rem;
    background-color: #000000af;

    .navbar-nav {
      li {
        padding: 0 1.5rem;

        .nav-link {
          color: #f5f3f3;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .nav-link:hover {
          border-radius: 0.5rem;
          background-color: #ffffff1a;
        }

        .nav-link:active {
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    border-top: #414141 0.1px solid;
    color: #f5f3f3a4;
    padding: 1rem 0;
    margin-top: 3rem;
  }
}
